*.txt
/pset-ll-1k-cxptm.txt
/pset-ll-1k-ofwf.txt
/pset-ll-1k-romlr.txt
/psps-integer-cxptm.txt
/psps-integer-ofwf.txt
/psps-integer-romlr.txt
/pset-hash-1k-romlr.txt
/pset-ll-10k-cxpredo.txt
/pset-ll-10k-cxptm.txt
/pset-ll-10k-ofwf.txt
/pset-ll-10k-romlr.txt
/pset-ll-1k-cxpredo.txt
/pset-tree-1k-cxptm.txt
/pset-hash-1k-cxpredo.txt
/pset-hash-1k-cxptm.txt
/pset-hash-1k-ofwf.txt
/pset-tree-1k-ofwf.txt
/pset-tree-1k-romlr.txt
/psps-integer-cxpredo.txt
/pset-tree-10k-romlr.txt
/pset-hash-1k-cxredo.txt
/pset-ll-10k-cxredo.txt
/pset-ll-1k-cxredo.txt
/psps-integer-cxredo.txt
/pset-tree-1m-ofwf.txt
/pset-tree-10k-cxredo.txt
/pset-tree-10k-ofwf.txt
/pset-tree-1k-cxredo.txt
/pset-tree-10k-cxptm.txt
/pset-tree-1m-cxptm.txt
/pset-tree-1m-romlr.txt
/pset-tree-1m-cxredo.txt
